.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .featuredChart {
      width: 100px;
      height: 100px;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 20px;
          color: gray;
        }

        .itemResult {
          margin: 5px 0 20px;
          font-size: 20px;
          font-weight:200;
        }
      }
    }
  }
}
