.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(168, 200, 210, 0.677);
  min-height: 100vh;
}

.lContainer {
  margin: 2rem;
  width: 22rem;
  background-color: rgb(255, 255, 255);
  color: #3f597c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.lLogo {
  margin-bottom: 2rem;

  a {
    display: flex;
    align-items: center;

    svg {
      margin-left: 0.3rem;
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.lLogo a {
  text-decoration: none;
  color: inherit;
}

.lTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lTitle {
  margin-bottom: 0.35em;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.167;
}

.lTitleMessage {
  margin-top: 8px;
  color: rgb(158, 158, 158);
  font-weight: 400;
  line-height: 1.66;
  font-size: 16px;
  text-align: center;
}

.lOption {
  margin-top: 16px;
  width: 100%;
}

.lOptionGoogle {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 21px;
  border: 1px solid rgb(245, 245, 245);
  font-weight: 500;
  border-radius: 4px;
  color: rgb(97, 97, 97);
  background-color: rgb(250, 250, 250);
  font-size: 0.9375rem;
  line-height: 1.75;
  outline: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.lOptionGoogle:hover {
  background-color: rgb(248, 252, 255);
  border-color: rgb(33, 150, 243);
}

.lOptionGoogle svg {
  margin-right: 16px;
  width: 20px;
}

.lOptionOr {
  align-items: center;
  display: flex;
  padding-top: 16px;
}

.lOptionOrHr {
  margin: 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  opacity: 1;
  flex-grow: 1;
}

.lOptionOrBtn {
  pointer-events: none;
  position: relative;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.75;
  border: 1px solid rgb(245, 245, 245);
  margin: 16px;
  padding: 4px 56px;
  font-weight: 500;
  border-radius: 8px;
  color: rgb(33, 33, 33);
  cursor: unset;
}

.lOptionEmail {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lOtionEmailMessage {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(33, 33, 33);
  line-height: 1.75;
}

.lForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lInputSetContainer {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: 8px 0px;
  vertical-align: top;
  width: 100%;
}

.lInputBtn {
  position: absolute;
  top: 4.5px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  text-align: center;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 12px;
  cursor: pointer;
}

.lInputBtn:hover {
  background-color: rgba(0, 0, 0, 0.062);
}

.lInputSetContainer svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: rgb(125, 125, 125);
}

.lInputLabel {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(14px, 22px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  z-index: 1;
}

.lInputLabelContainer {
  height: 58px;
}

.lInputLabelContainer:focus-within .lInputLabel {
  transform: translate(14px, 7px) scale(0.75);
  color: rgb(33, 150, 243);
}

.lInputLabelActive {
  transform: translate(14px, 7px) scale(0.75);
}

.lInput {
  width: 100%;
  height: 100%;
  min-width: 0px;
  outline: none;
  padding: 30.5px 14px 11.5px;
  margin: 0px;
  display: block;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 0 0.8pt rgb(189, 189, 189);
  border-radius: 8px;
}

.lInput:focus {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 0.8pt rgb(33, 150, 243);
}

.lPasswordStrengthContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.lInputErr {
  color: rgb(244, 67, 54);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  text-align: left;
  margin: 4px 12px 0px;
}

.lButton {
  border: none;
  padding: 12px 20px;
  background-color: #46648a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.lButton:hover {
  background-color: #2d4059;
}

.lButton:disabled {
  background-color: #c5c5c5;
  cursor: auto;
}

.lSubmitErr {
  color: rgb(244, 67, 54);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.66;
  text-align: center;
  margin-top: 0.8rem;
}

.lHr {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
}

.lChangeMode {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(33, 33, 33);
  line-height: 1.75;
  text-decoration: none;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.lChangeMode:hover {
  color: rgba(33, 33, 33, 0.599);
}
