.detailsDateContainerTask {
  display: flex;
  height: 1.4rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  margin-right: 1.4rem;
  font-size: 0.9245rem;

  .detailsTaskDateEditContainer {
    display: flex;
    align-items: center;
    width: 80%;

    .detailsDateCardEditCheckbox {
      display: flex;
      cursor: pointer;

      svg {
        fill: #929292;
      }
    }

    .detailTask {
      margin-left: 1rem;
      width: 80%;
    }

    .detailsDateProjectTag {
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: 400;
      white-space: nowrap;
      padding: 0.2rem 0.5rem 0.2rem 0.3rem;
      margin-right: 0.3rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      .detailsDateProjectTagBack {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;
        transition: all 0.2s;

        &:hover {
          opacity: 0.3;
        }
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.25rem;
      }
    }

    .detailTaskTag {
      margin: 0 1rem;
      flex-grow: 0.5;

      .detailTaskTagBtn {
        border: none;
        background-color: transparent;
        position: relative;

        svg {
          width: 1rem;
          height: 1rem;
          fill: rgb(103, 103, 103);
          cursor: pointer;

          &:hover {
            fill: rgb(166, 166, 166);
          }
        }
      }
    }
  }
}
