.editContainerBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1f78b40;
  z-index: 5;
}

.editContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -35%;
  margin-left: -35%;
  // top: 1.5rem;
  // right: -4rem;
  border: 1px solid #ccc;
  background-color: #f78b8b;
  width: 70%;
  z-index: 10;
}
