.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: #194350;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgb(235, 222, 222);
    }
  }

  .sidebarTitleHr {
    height: 0;
    border: 0.5px solid #ffc2b4;
  }

  .sidebarHr {
    display: none;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        // color: #999;
        color: #fc9893c9;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #9dbeb936;
        }

        .icon {
          font-size: 18px;
          color: #fcc8bc;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: rgb(223, 220, 220);
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 20px 10px;

    .colorOption {
      font-size: 25px;
      cursor: pointer;
      margin: 5px;
      color: #d1d1d1;
      &:hover {
        color: #fcc8bc;
      }
    }
  }
}

@media (max-width: 950px) {
  .sidebar {
    .top {
      .logo {
        font-size: 16px;
        font-weight: bold;
        color: rgb(235, 222, 222);
      }
    }
  }
}

@media (max-width: 600px) {
  .sidebar {
    flex: 0 1;
    width: 2.8rem;

    span,
    p {
      display: none;
    }

    .sidebarTitleHr {
      margin-bottom: 0.2rem;
    }

    .center {
      padding-left: 0;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          padding: 0;

          svg {
            margin: 0.4rem 0;
          }
        }
      }

      .sidebarHr {
        display: block;
        height: 0;
        width: 100%;
        border: 0.2px solid #ffffff;
        margin: 0.2rem 0;
      }
    }
    .bottom {
      flex-direction: column;

      svg {
        width: 1.2rem;
      }
    }
  }
}
